<connectionStrings>
  <!-- Connextion à la Base de Données locale
	<add name="MegaCastingEntities" 
		 connectionString="metadata=res://*/MegaCastingModel.csdl|res://*/MegaCastingModel.ssdl|res://*/MegaCastingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MegaCasting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
		 providerName="System.Data.EntityClient" />
     -->

  <!-- Connextion à la Base de Données du serveur SRV-BDD -->
  <add name="MegaCastingEntities"
		 connectionString="metadata=res://*/MegaCastingModel.csdl|res://*/MegaCastingModel.ssdl|res://*/MegaCastingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.254.5;initial catalog=MegaCasting;user id=sa;password=P@ssword1bdd;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		 providerName="System.Data.EntityClient" />
</connectionStrings>