<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="MegaCastingEntities" connectionString="metadata=res://*/MegaCastingModel.csdl|res://*/MegaCastingModel.ssdl|res://*/MegaCastingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=MegaCasting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGeocodeService" />
        <binding name="BasicHttpBinding_ISearchService" />
        <binding name="BasicHttpBinding_IImageryService" />
        <binding name="BasicHttpBinding_IRouteService" />
        <binding name="BasicHttpBinding_IGeocodeService1" />
        <binding name="BasicHttpBinding_ISearchService1" />
        <binding name="BasicHttpBinding_IImageryService1" />
        <binding name="BasicHttpBinding_IRouteService1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomBinding_IGeocodeService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ISearchService">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IImageryService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IRouteService">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IGeocodeService1">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_ISearchService1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IImageryService1">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="CustomBinding_IRouteService1">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService"
        contract="GeocodeService.IGeocodeService" name="BasicHttpBinding_IGeocodeService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_IGeocodeService"
        contract="GeocodeService.IGeocodeService" name="CustomBinding_IGeocodeService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/searchservice/searchservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearchService"
        contract="SearchService.ISearchService" name="BasicHttpBinding_ISearchService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/searchservice/searchservice.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_ISearchService"
        contract="SearchService.ISearchService" name="CustomBinding_ISearchService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageryService"
        contract="ImageryService.IImageryService" name="BasicHttpBinding_IImageryService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_IImageryService"
        contract="ImageryService.IImageryService" name="CustomBinding_IImageryService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteService"
        contract="RouteService.IRouteService" name="BasicHttpBinding_IRouteService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_IRouteService"
        contract="RouteService.IRouteService" name="CustomBinding_IRouteService" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService1"
        contract="GeocodeService.IGeocodeService" name="BasicHttpBinding_IGeocodeService1" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_IGeocodeService1"
        contract="GeocodeService.IGeocodeService" name="CustomBinding_IGeocodeService1" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/searchservice/searchservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearchService1"
        contract="SearchService.ISearchService" name="BasicHttpBinding_ISearchService1" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/searchservice/searchservice.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_ISearchService1"
        contract="SearchService.ISearchService" name="CustomBinding_ISearchService1" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageryService1"
        contract="ImageryService.IImageryService" name="BasicHttpBinding_IImageryService1" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/imageryservice/imageryservice.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_IImageryService1"
        contract="ImageryService.IImageryService" name="CustomBinding_IImageryService1" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteService1"
        contract="RouteService.IRouteService" name="BasicHttpBinding_IRouteService1" />
      <endpoint address="http://dev.virtualearth.net/webservices/v1/routeservice/routeservice.svc/binaryHttp"
        binding="customBinding" bindingConfiguration="CustomBinding_IRouteService1"
        contract="RouteService.IRouteService" name="CustomBinding_IRouteService1" />
    </client>
  </system.serviceModel>
</configuration>